<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900">
        <form method="post" action="">
            <input type="text" placeholder="username" name="username">
            <input type="email" placeholder="username" name="username">
            <input type="password" placeholder="username" name="username">
            <input type="" placeholder="username" name="username">
        </form>
    </div>
</body>
</html>